.cooperation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: 20px;
    margin-right: 20px;

}

.cooperation-title{
    font-family:  'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 82.5%;

    padding-top: 77px;
    margin-bottom: 68px;
}

.cooperation-item{
    display: flex;
    align-items: baseline;
}

.cooperation-text{
    margin-top: 22px;
    padding-bottom: 22px;
    border-bottom:  1px solid #CECECE;;
}

.cooperation-photo{
    margin-top: 80px;
    width: 114%;
}