.footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    color: var(--another-text-color);
    background-color: var(--background-second);
}

@media(min-width: 900px){
    .footer{
     justify-content: center;
     flex-direction: column;
    }}

.footer-title{
    width: 260px;
}

@media(min-width: 900px){
    .footer-title{
    width: 1200px;
    font-size: 100px;
line-height: 82.5%;
    }}


@media (min-width:900px) {
    .footer-decor{
    display: flex;
    width: 625px;
    height: 607px;
    flex-wrap: wrap;
    justify-content: center;
    }
}

@media(min-width: 900px){
    .work-text{
     width: 400px;
    }}

.form{

    margin-top: 45px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 900px){
    .form{
     width: 550px;
    }}

input{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    background-color: transparent;
    color: var(--another-text-color);
    width: 260px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    border-top: transparent;
    border-right: transparent;
}

@media(min-width: 900px){
    input{
     width: 350px;
    }}

placeholder{
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;

    color: var(--another-text-color);

}


.form-title{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: var(--second-text-color);
}

@media(min-width: 900px){
    .form-title{
     font-size: 18px;
    }}

.button-footer{
    margin-top: 63px;
}

.footer-contacts{
    font-weight: 400;
    font-size: 23px;
    line-height: 160%;
}

.contacts{
    color: var(--background-main);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* text-decoration: none; */
}

.footer-contacts-set{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    margin-top: 56px;
    padding-bottom: 61px;
    border-bottom: 1px solid var(--backgrond-main);
}

@media(min-width: 900px){
    .footer-contacts-set{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      

      font-weight: 400;
    font-size: 33px;
    line-height: 160%;
    }}

    @media(min-width: 900px){
        .nav-footer{
         display: flex;
         gap: 20px;
        }}


 @media(min-width: 900px){
 .nav-footer-set{
  display: flex;
  width: 500px;
  gap: 50px;
  align-items: baseline;
}}

.second{
    display: none;
}

@media(min-width: 900px){
    .second{
      display: block;
    }}

.footer-confidense{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: var(--another-text-color);

    margin-top: 59px;
    margin-left:35px;
    margin-right: 15px;
}

.footer-confidense:hover,
.footer-confidense:focus{
    color: var(--hover-color);
}

.footer-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--another-text-color);
}

@media (min-width:900px) {
    .prob{
     width: 130px;
     height: 130px;
    }
}

@media (min-width:900px) {
    .inst{
    width: 20px;
    height: 20px;
    }
}

@media (min-width:900px) {
    .there{
    display: none;
    }
}

.footer-button:hover,
.footer-button:focus{
    background-color: var(--hover-color);
}

.footer-set-button{
    display: flex;
    margin-top: 36px;
}

.footer-set-confidense{
    height: 254px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 900px){
    .footer-set-confidense{
        align-items: baseline;
        justify-content: space-between;
        height: 150px;
    }}

.contacts:hover,
.contacts:focus{
 color: var(--hover-color);
}

.prava-protect{
    display: none;
    font-weight: 400;
font-size: 17px;
line-height: 20px;
}

@media(min-width: 900px){
    .prava-protect{
      display: block;
    }}