.header{
    height: 845px;
    background-image: url(../image/backgroung.png);
    background-repeat: no-repeat;

    background-size: cover;
    background-color: black;
}
@media(min-width: 900px){
    .header{
        background-image: url(../image/background-deck.png);
    }
}

.header-menu{
    padding: 40px;
    border-bottom: 1px solid var(--decoration-line);
    margin: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-width: 900px){
    .header-menu{
    display: flex;
    align-items: center;
    }
}

.logo-compani{
    display: flex;
    align-items: baseline;
}

@media(min-width: 900px){
    .logo-compani{
    margin-right: 10px;
    }}

.first-logo{
    margin-right: 5px;
}

@media(min-width: 900px){
    .first-logo{
        width: 43px;
        height: 46px;
    }}


@media(min-width: 900px){
    .second-logo{
        width: 90px;
        height: 39px;
        }}

.header-button{
    position: fixed;
    right: 40px;
    z-index: 101 ;
    
    padding: 17.5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    color: var(--main-text-color);
    background-color: var(  --another-text-color);

    display: flex;
    align-items: center;
}

@media(min-width: 900px){
    .header-button{
       display: none;
    }}



@media(min-width: 900px){
        .menu-desktop{
          display: flex;
        }

        .menu-item{
            display: flex;
            align-items: center;
        }
    }

    @media(max-width: 900px){
        .menu-desktop{
          display: none;
        }

        .menu-item{
            display: none;
        }
    }


.header-icon{
    margin-right: 15px;
}

.header-set-button{
    margin-left: 15px;
}

.menu-navigation{

    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    left: -550px;
    padding-top: 100px;
    background-image: url(../image/backgroung-menu.png);
    background-repeat: no-repeat;
    transition: transform 1s;
}

@media(min-width: 900px){
    .menu-navigation{
      display: none;
    }}


.header.open .menu-navigation{
    transform: translate(550px, 0px);
display: block;

}

.header.open .header-button span:nth-child(1){
    transform: translateY(0) rotate(45deg)
 }

 .header.open .header-button span:nth-child(2){
    opacity: 0;
 }
 .header.open .header-button span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
 }

 .header.open .header-button span{
   background-color: var(--second-text-color);
 }


.header-button:hover,
.header-button:focus{
    background-color: var(--hover-color);
}

.header-button span{
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;

    transition: transfotm 1s, opasity 1s ;
}

.header-button span:nth-child(1){
    transform: translateY(-10px);
}

.header-button span:nth-child(3){
    transform: translateY(10px);
}

.header-title{

    margin-top: 118px;
    margin-bottom: 20px;

    line-height: 82.5%;
    font-size: 47px;
    color: var(--another-text-color);
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
}

@media(min-width: 900px){
    .header-title{
        font-size: 140px;
        line-height: 82.5%;
        width: 1000px;
    }}

.header-text{
    font-size: 13;
    margin-left: 10px;
    line-height: 160%;
    color: var(  --another-text-color);

    margin-bottom: 53px;
}

@media(min-width: 900px){
    .header-text{
      font-size: 22px;
      line-height: 160%;

      width: 288px;
    }}

    @media(min-width: 900px){
        .header-desk-decor{
         display: flex;
         flex-direction: column;
        }}

.header-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 40px;
}

@media(min-width: 900px){
    .header-about{
    justify-content: space-around;
    }}

.main-button{
    font-size: 13px;
    line-height: 16px;
    color: var(--main-text-color);
    background-color: var(--backgrond-main);

    width: 213px;
    height: 82px;
    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media(min-width: 900px){
    .main-button{
      width: 336px;
      height: 106px;

      font-size: 20px;
    line-height: 24px;
    text-align: center;
    }}

.main-button:hover,
.main-button:focus{
    background-color: var(--hover-color);
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;

    margin-top: 100px;
}

.navigation{
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 82.5%;

    color: var(--decoration-line);

    text-decoration: none;
}


@media(min-width: 900px){
    .navigation-desk{
        margin-right: 41px;

        font-family: 'Cormorant Garamond', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 29px;
        line-height: 82.5%;
        cursor: pointer;
    
        color: var(--decoration-line);
    
        text-decoration: none;
    }
}

.navigation-desk:hover,
.navigation-desk:focus{
    color: var(--hover-color);
}

a{
    cursor: pointer;
}
@media(min-width: 900px){
    .footer-set-button-desk{
        margin-top: 0;
        display: flex;
    }
}

@media(min-width: 900px){
    .header-set-button-desk{
        margin-top: 0;
        display: flex;
    }
}

.navigation-list{
    margin-bottom: 15px;
    margin-left: 15px;
}