.pre-servise{
    padding-top: 86px;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}

.servise-p{
    font-size: 10px;
    line-height: 82.5%;
    margin-right: 20px;
    margin-left: 10px;
}

.servise-title{

    width: 295px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 82.5%;

    padding-bottom: 30px;

}

.servise-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.servise-set{
    display: flex;
    list-style: decimal;
    margin-top: 35px;
    width: 300px;
}

.servise-text{
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid var(--main-text-color);
}

.servise-set-number{
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 30px;
}

