:root{
    --backgrond-main: #F3F3F3;
    --background-second: #1E1E1E;
    --second-text-color: #424242;
    --main-text-color: #000000;
    --another-text-color: #ffffff;
    --decoration-line:  #E2E2E2;
}