.works{
    color: var(--another-text-color);
    background-color: var(--background-second);
}

.works-title{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 82.5%;

    padding-top: 88px;
    padding-left: 51px;
    margin-bottom: 39px;
}

@media(min-width: 900px){
    .works-title{
        font-size: 130px;
        line-height: 82.5%;
    }}

.work-text{
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;

    width: 147px;

    margin-top: 30px;
    margin-right: 10px;
}

@media(min-width: 900px){
    .work-text{
        font-size: 22px;
        line-height: 160%;
        width: 230px;
    }}


.button-set{
    display: flex;
}

.works-button{
    width: 64px;
    height: 64px;
    margin-right: 5px;

    background-color: transparent;

    border-radius: 50%;
    border: 1px solid #FFFFFF;

    align-items: center;
    display: flex;
    justify-content: center;
}

.works-button:hover,
.works-button:focus{
    background-color: var(--hover-color);
}

.slider {
    border: 2px solid black;
    max-width: 550px;
    height: 550px;
    margin: 20px auto;
    overflow: hidden;

    margin-bottom: 117px;
    margin-top: 52px;
}

.slider-line {
    width: 1280px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    
}

.slider-photo{
width: 256px;
}

/* @media(min-width: 900px){
    .slider-photo{
     width: 550px;
    }} */

.works-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.run-line{
    font-family:  'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 160%;
    color: var(--second-text-color);
}

@media(min-width: 900px){
    .run-line{
        font-weight: 300;
        font-size: 160px;
        line-height: 160%;
    }}

.run-container{
    position: relative;
    width: 100%;
    height: 473px;
    /* background-repeat: no-repeat; */
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../image/background2.png);
}

@media(min-width: 900px){
    .run-container{
      height: 1130px;
      background-image: url(../image/background-desk2.png);
    }}

.works-more{
    position: absolute;
    bottom: -50px;
    right: 5px;
    
    width: 183px;
    height: 183px;
    border-radius: 50%;
    border: 1px solid var(--background-second);
    background-color: transparent;
    color: var(--another-text-color);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 900px){
    .works-more{
        width: 383px;
        height: 383px;
        bottom: -40px;
        right: 150px;
    }}

.works-more:hover,
.works-more:focus{
    background-color: var(--hover-color);
    opacity: 0.7;
}